.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 16px;
}

.status-card {
  margin-bottom: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

table {
  width: 100%;
}

.price-base {
  color: #888;
  text-decoration: line-through;
}

.price-current {
  font-weight: bold;
  font-size: 1.1em;
  color: #0056b3; 
}