:host {
  display: block;
  background-color: #1a237e;
  color: #ffffff;
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.logo-container mat-icon {
  margin-right: 12px;
  transform: scale(1.4);
}

mat-nav-list a {
  color: #c5cae9;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
}

mat-nav-list a mat-icon {
  margin-right: 16px;
}

mat-nav-list a:hover {
  background-color: #3f51b5;
  color: #ffffff;
}