<div class="logo-container">
  <mat-icon>explore</mat-icon>
  <span>CoinPilot</span>
</div>

<mat-nav-list>
  <a mat-list-item href="#">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item href="#">
    <mat-icon>map</mat-icon>
    <span>Rotas</span>
  </a>
  <a mat-list-item href="#">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Financeiro</span>
  </a>
  <a mat-list-item href="#">
    <mat-icon>settings</mat-icon>
    <span>Configurações</span>
  </a>
</mat-nav-list>